#death-star {
  a {
    margin: 0px 2px;
  }

  img {
    width: 100%;
  }

  h2 {
    font-size: 26px;
    display: inline-block;
    margin-right: 10px;
  }

  .toc {
    padding: 20px;
  }

  .note {
    font-size: 13px;
    font-style: italic;
    color: #999;
  }
}