@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);

#intro-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5em;
  opacity: 0;
  transition: opacity 3s ease-in-out;
  line-height: 1.4;
  color: #00FFFF;
  font-family: "News Cycle", sans-serif;

  &.fade-in {
    opacity: 1;
  }

  &.fade-out {
    opacity: 0;
  }
}

// #crawl {
//   display: none;
//   position: absolute;
//   top: 100%;
//   left: 50%;
//   transform: translateX(-50%);
//   width: 40vw;
//   max-width: 600px;
//   color: #FFE81F;
//   text-align: center;
//   perspective: 800px;
//   font-size: 2em;
//   opacity: 0;
//   transition: opacity 3s ease-in-out;

//   h1 {
//     font-size: 1.7em;
//     margin-bottom: 2em;
//     text-transform: uppercase;
//   }
// }

#crawl {
  display: none;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  /* This is a magic number based on the context in which this snippet is used and effects the perspective */
  height: 100vh;
  /* This sets allows us to transform the text on a 3D plane, and is somewhat a magic number */
  perspective: 400px;
  /* The rest is totally up to personal styling preferences */
  color: #feda4a;
  font-family: "News Cycle", sans-serif;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  text-align: justify;
  transition: opacity 3s ease-in-out;

  h1 {
    text-transform: uppercase;
  }
}

// #crawl-content {
//   transform-origin: 50% 100%;
//   animation: crawl 120s linear 1s forwards;

//   p {
//     text-align: justify;
//   }
// }
#crawl-content {
  position: relative;
  top: 100vh;
  transform-origin: 50% 100%;
  animation: crawl 60s linear 1s forwards;
}

// @keyframes crawl {
//   0% {
//     transform: rotateX(15deg) translateY(0%);
//   }

//   100% {
//     transform: rotateX(80deg) translateY(-6000px);
//   }
// }
@keyframes crawl {
  0% {
    top: 100vh;
    transform: rotateX(20deg) translateZ(0);
  }

  100% {
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}