@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);

#intro-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5em;
  opacity: 0;
  transition: opacity 2s ease-in-out;
  line-height: 1.4;
  color: #00FFFF;
  font-family: "News Cycle", sans-serif;

  &.fade-in {
    opacity: 1;
  }

  &.fade-out {
    opacity: 0;
  }
}

#crawl {
  display: block;
  justify-content: center;
  height: 100vh;
  perspective: 400px;
  color: #feda4a;
  font-family: "News Cycle", sans-serif;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  text-align: justify;
  transition: opacity 3s ease-in-out;

  h1 {
    text-transform: uppercase;
    width: 100%;
    text-align: center;
  }

  h2 {
    width: 100%;
    text-align: center;
  }
}

#crawl-content {
  position: relative;
  top: 150vh;
  transform-origin: 50% 100%;
  animation: crawl 60s linear 6s forwards;
}

@keyframes crawl {
  0% {
    top: 150vh;
    transform: rotateX(20deg) translateZ(0);
  }

  100% {
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}