---
layout: default
---
<div id="nav-container">
  {% include nav.html %}
</div>

<div id="intro-text">A long time ago, in a galaxy far,<br /> far away...</div>

<div id="crawl">
  <div id="crawl-content">
    <h2>Episode X</h2>
    <h1>Aurebesh Files</h1>
    <p>
      A couple of Star Wars nerds, DAVID and LEWIS embark on a journey into the world of STAR WARS.
    </p>
    <p>
      Born into the ORIGINAL triology, these two nerf herders now explore the expanded universe of STAR WARS.
    </p>
    <p>
      From the PHANTOM MENACE to THE LAST JEDI, TV shows, comic books, and other fan creations, they will explore it
      all.
    </p>
  </div>
</div>