<!DOCTYPE html>
<html lang="{{ site.lang | default: "en" }}">
{% include head.html %}
<body>
    {% include header.html %}
    <div class="min-h-screen bg-black text-white font-mono relative overflow-hidden">
        <main class="max-w-6xl mx-auto p-6 relative">
            <h1 class="text-5xl font-black text-yellow-400 mb-8 border-l-8 border-yellow-400 pl-4 uppercase tracking-wider">
                {{ page.title }}
            </h1>
            {{ content }}
        </main>

        {% include footer.html %}
    </div>
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/13cabfa89d.js" crossorigin="anonymous"></script>
</body>
</html> 